.scene {
  width: 200px;
  height: 260px;
  
  margin: 40px 0;
  perspective: 600px;

  border-radius: 5px;
  border: 4px solid;
  /* border-image: linear-gradient(227.91deg, #106AF2 0%, #00e0ff 100%); */

  margin: 50px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative; 
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: #5A97E7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front img{
  background: #5A97E7;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card__face--back span{
  font-size: 100px;
}