@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;

    background-color: #121214;
    color: white;
}

.background-pedra{
    background-color: #F15481;
}

.background-papel{
    background-color: #FFDE53;
}

.background-tesoura{
    background-color: #7FCEDA;
}

.game{
    display: flex;
    flex-direction: column;

    padding: 0 100px 0 50px;
    margin-top: 20px;
}

.game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-area-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-show{
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.game-score{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.game-score > h1{
    font-size: 70px;
}

.game-score > span {
    font-size: 30px;
}

.game-options {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.game-options img{
    margin: 10px;
    height: 100px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.game-options img:hover{
    height: 120px;
    transition: 0.3s ease-in
}

.game-versus{
    font-size: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score_info{
    width: 100px;
    height: 100px;

    font-size: 20px;
    word-wrap: break-word;
}

.game-you-play{
    display: flex;
    flex-direction: column;
}

.player-title{
    font-size: 50px;
}

