@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.game-title-h1 {
  font-size: 30px;
  font-size: bold;
  font-weight: 7.5vw/1.6;
  user-select: none;

  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.game-title-h1 .game-title-span {
  display: inline-block;
  animation: float 0.2s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
body:hover .game-title-span {
  animation: bounce 0.6s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.game-title-span:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
    3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}
.game-title-span:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
    3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}
.game-title-span:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
    3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}
.game-title-span:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
    3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

.game-title-h1 .game-title-span:nth-child(2) {
  animation-delay: 0.05s;
}
.game-title-h1 .game-title-span:nth-child(3) {
  animation-delay: 0.1s;
}
.game-title-h1 .game-title-span:nth-child(4) {
  animation-delay: 0.15s;
}
.game-title-h1 .game-title-span:nth-child(5) {
  animation-delay: 0.2s;
}
.game-title-h1 .game-title-span:nth-child(6) {
  animation-delay: 0.25s;
}
.game-title-h1 .game-title-span:nth-child(7) {
  animation-delay: 0.3s;
}
.game-title-h1 .game-title-span:nth-child(8) {
  animation-delay: 0.35s;
}
